.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/**
*     TABLE OF CONTENTS
*
*   1.0 - Navigation
*   2.0 - Header
*   3.0 - The Corner
*   4.0 - Shop
*   5.0 - Blog
*   6.0 - Artists
*   7.0 - Sponsors
*   8.0 - Footer
*/
/*
*   1.0 - Navigation
*/
.navbar-default {
  background-color: #3C4959;
  font-family: "Open Sans", Helvetica, "sans serif";
  color: white; }
  .navbar-default .navbar-brand {
    font-family: "Brush Script MT", cursive;
    font-size: 2em;
    color: white; }
  .navbar-default .navbar-nav > li > a {
    font-family: "Open Sans", Helvetica, "sans serif";
    color: white; }
    .navbar-default .navbar-nav > li > a.hover {
      color: white; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #627183;
  color: white; }

/*
*   2.0 - Header
*/
.header {
  margin-top: -2em;
  height: 768px;
  background: url("../img/sutton-fair-wagon.JPG") no-repeat fixed center;
  background-size: 100%; }
  .header .overlay {
    height: 768px;
    background: rgba(0, 0, 0, 0.6); }
  .header .header_title {
    padding: 4em 1em 5em 1em;
    font-family: "Open Sans", Helvetica, "sans serif";
    color: white;
    text-align: center; }
  .header .header_subtitle {
    width: 100%;
    padding: 6em 1em 1em 1em;
    font-family: "Open Sans", Helvetica, "sans serif";
    color: white;
    text-align: center; }

/*
*   3.0 - The Corner
*/
.corner {
  width: 100%;
  background-color: #008FB2;
  text-align: center;
  padding: 2em 1em; }
  .corner .blog-icon, .corner .shop-icon, .corner .discover-icon {
    padding: 2em; }
  .corner a {
    font-family: "Open Sans", Helvetica, "sans serif";
    color: white;
    text-decoration: none; }
  .corner img {
    height: 75px;
    width: 75px; }

/*
*   4.0 - Shop
*/
.shop {
  text-align: center;
  padding: 2em; }
  .shop #shop-title {
    margin-bottom: 1em; }
  .shop .product {
    margin: 0 auto;
    height: 310px;
    width: 310px; }
    .shop .product img {
      width: 100%; }

/*
*   5.0 - Blog
*/
.blog {
  width: 100%;
  background-color: #B045B0;
  padding: 2em 1em; }
  .blog #blog-title {
    margin-bottom: 1em;
    text-align: center;
    font-family: "Open Sans", Helvetica, "sans serif";
    color: white; }
  .blog .post {
    padding: 3em 1em;
    font-family: "Open Sans", Helvetica, "sans serif";
    color: white; }
    .blog .post .post-title {
      text-align: center;
      font-size: 1.5em; }
    .blog .post .post-date {
      text-align: center;
      margin-bottom: 1.5em;
      font-size: 1em;
      font-family: "Merriweather", Georgia, serif; }
    .blog .post .post-content {
      margin-bottom: 1.5em;
      font-family: "Merriweather", Georgia, serif; }
    .blog .post .read-more {
      color: #5CE62E; }
  .blog a {
    font-family: "Open Sans", Helvetica, "sans serif";
    color: #B8E986;
    text-decoration: none; }
  .blog img {
    height: 75px;
    width: 75px; }

/*
*   6.0 - Artists
*/
.artists {
  text-align: center;
  width: 100%; }
  .artists .container {
    margin: 0 auto; }
  .artists #shop-title {
    margin-top: 1em;
    margin-bottom: 1em; }
  .artists .row {
    margin: 0 auto; }
  .artists .person {
    width: 310px;
    height: 310px;
    float: left; }
    .artists .person .artist {
      position: absolute; }
      .artists .person .artist img {
        width: 310px;
        height: 310px; }
    .artists .person .overlay {
      position: relative;
      background: rgba(0, 0, 0, 0.3);
      width: 310px;
      height: 310px; }
      .artists .person .overlay .name {
        padding-top: 6em;
        font-family: "Open Sans", Helvetica, "sans serif";
        color: white;
        font-size: 2em;
        position: relative; }

/*
*   7.0 - Sponsors
*/
.sponsors {
  text-align: center;
  padding: 2em; }
  .sponsors .row {
    margin-top: -2em; }
  .sponsors .google {
    padding-top: 3em; }
  .sponsors #shop-title {
    margin-bottom: 1em; }
  .sponsors img {
    width: 50%; }

/*
*   8.0 - Footer
*/
.footer {
  background: #3C4959;
  padding: 2em 0;
  text-align: center;
  font-family: "Open Sans", Helvetica, "sans serif";
  color: white; }
  .footer a {
    font-family: "Open Sans", Helvetica, "sans serif";
    color: #5CE62E;
    text-decoration: none; }
  .footer .copyright {
    padding: 1em 0 0 0; }
  .footer .address {
    padding: 0 0 1em 0;
    color: #5CE62E; }
  .footer .social a {
    padding: 0 1em; }

/*# sourceMappingURL=style.css.map */
