<% title "Edit Portfolio" %>

<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="form">



<h1>Edit Portfolio</h1>

<%= render 'form' %>

<%= link_to 'Show', @artists_portfolio %>

</div>
</div>
</div>
