<% title "New Piece" %>

<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="form">
      <h1>New Piece</h1>
      <br/>
      <%= render 'form' %>
    </div>
  </div>
</div>
